# ignoramos el entorno virtual
env/
venv/
# las variables de entorno
.env
# base de datos
*.db
# carpeta cache y archivos python compilados
__pycache__/
TodoApp/__pycache__/
*.pyc
*.pyo
# pruebas
.pytest_cache